body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  background-color: rgb(39, 72, 101);
  display: flex;
  justify-content: center;
}
.top-container ul {
  list-style: none;
  padding: 5px;
  color: #fff;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-container ul li a {
  text-decoration: none;
  font-size: smaller;
  color: #fff;
}
/* -----NAVBAR----- */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 1px 5px 1px #ccc;
}
.nav-content {
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#brand-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 50px;
  color: rgb(39, 72, 101);
}
#brand-logo {
  margin-right: 5px;
  filter: drop-shadow(1px 2px 2px rgb(39, 72, 101));
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* gap: 25px; */
  margin: 0;
  padding: 0;
  height: 50px;
}
.nav-links ul li a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: rgb(39, 72, 101);
}
.nav-links ul li a:hover {
  background-color: rgb(215, 176, 162);
  color: #fff;
  border-radius: 7px;
}
.nav-link-selected {
  background-color: rgb(252, 99, 43);
  /* padding: 5px 20px; */
  border-radius: 7px;
  /* color: #fff; */
}
.nav-links ul li a span {
  color: #fff;
}
#nav-menu {
  text-decoration: none;
  color: rgb(39, 72, 101);
}

.main-image-container {
  position: relative;
}
.main-image-container img {
  width: 100%;
}
.para-heading {
  color: rgb(39, 72, 101);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  top: 27%;
  left: 9%;
  /* transition: translate(-20%,-20%); */
}
.para-heading-1 {
  font-size: 2.3rem;
  margin: 0;
}
.para-heading-2 {
  font-size: 1.7rem;
  margin: 0;
}
.para-heading-3 {
  font-size: 1.8rem;
  margin: 0;
}
#btn-main {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: rgb(39, 72, 101);
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 11px;
  cursor: pointer;
}

.about-container {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* height: 320px;               don't provide height to the parent when you wrap the child elements */
  flex-wrap: wrap;
  gap: 30px;
}
.about {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.about div {
  background-color: #155087;
  color: #fff;
  padding: 10px 0;
  width: 100%;
}
.about p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid #155087;
  margin: 0;
  padding: 0;
}
.form-container {
  background-color: #155087;
  margin: 30px 0;
  padding-bottom: 7px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.form-container p {
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid #fff;
}
.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1px;
  flex-wrap: wrap;
}
.input-container label {
  width: 200px;
}

.messase-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.messase-description button {
  padding: 5px 10px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  background-color: #155087;
  cursor: pointer;
}
.inputfields {
  padding: 5px;
  width: 200px;
}
.find-us {
  padding: 5px;
  width: 214px;
}
.pricing-container {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.pricing-box {
  border: 1px solid #928e8e;
  padding: 20px;
  width: 220px;
  height: 240px;
  text-align: center;
}
.duration {
  font-size: 34px;
}
.dollar-symbol {
  font-size: 25px;
}
.price {
  font-size: 35px;
  margin: 0 5px;
}
.price-content {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn-get-started {
  padding: 8px 20px;
  border: 2px solid blue;
  color: blue;
  cursor: pointer;
}
.btn-get-started:hover {
  transition: 0.4s;
  background-color: black;
  border: 2px solid #666;
  color: #fff;
}
/* Mobile Device*/
@media (max-width: 600px) {
  .nav-links ul {
    display: none;
  }
  .input-container {
    width: 250px;
  }
  .para-heading {
    top: 27%;
    left: 1%;
  }
  .para-heading-1 {
    font-size: 1.3rem;
  }
  .para-heading-2 {
    font-size: 0.9rem;
  }
  .para-heading-3 {
    font-size: 1rem;
  }
  #btn-main {
    margin-top: 20px;
    padding: 11px;
    font-size: 8px;
  }
}
@media (max-width: 651px) {
  .nav-links ul {
    display: none;
  }
}
@media (min-width: 651px) and (max-width: 768px) {
  #nav-menu {
    display: none;
  }
}
/* Large Mobile Device*/
@media (min-width: 601px) and (max-width: 768px) {
  .para-heading-1 {
    font-size: 1.9rem;
  }
  .para-heading-2 {
    font-size: 1.4rem;
  }
  .para-heading-3 {
    font-size: 1.5rem;
  }
  #btn-main {
    margin-top: 20px;
    padding: 11px;
    font-size: 8px;
  }
}

/* Tablet Device*/
@media (min-width: 769px) and (max-width: 992px) {
  #nav-menu {
    display: none;
  }
}
/* Laptop Device*/
@media (min-width: 993px) and (max-width: 1024px) {
  #nav-menu {
    display: none;
  }
}

/* Desktop Device*/
@media (min-width: 1025px) {
  #nav-menu {
    display: none;
  }
}
