body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.top-container {
  background-color: rgb(39, 72, 101);
  display: flex;
  justify-content: center;
}
.top-container ul {
  list-style: none;
  color: #fff;
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.top-container ul li a {
  text-decoration: none;
  font-size: smaller;
  color: #fff;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
}
.nav-content {
  width: 950px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
#brand-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  height: 50px;
  color: rgb(39, 72, 101);
}
#brand-logo {
  margin-right: 5px;
  filter: drop-shadow(1px 2px 2px rgb(39, 72, 101));
}
.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-links ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin: 0;
  padding: 0;
  height: 50px;
}
.nav-links ul li a {
  text-decoration: none;
  font-size: small;
  font-weight: bold;
  color: rgb(39, 72, 101);
}
.nav-link-selected {
  background-color: rgb(252, 99, 43);
  color: rgb(39, 72, 101);
  padding: 8px 15px;
  border-radius: 7px;
  color: #fff;
}
#nav-menu {
  text-decoration: none;
  color: rgb(39, 72, 101);
}
/* .main-image-container {
  position: relative;
} */
.main-image-container img {
  width: 100%;
  height: 100%;
}
/* .para-heading {
  color: rgb(39, 72, 101);
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  top: 250px;
  left: 300px;
}
.para-heading-1 {
  font-size: 2.3rem;
  margin: 0;
}
.para-heading-2 {
  font-size: 1.7rem;
  margin: 0;
}
.para-heading-3 {
  font-size: 1.8rem;
  margin: 0;
}
#btn-main {
  margin-top: 30px;
  padding: 15px;
  border: none;
  border-radius: 3px;
  background-color: rgb(39, 72, 101);
  color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 11px;
  cursor: pointer;
} */
 
/* Mobile Device*/
@media (max-width: 600px) {
  .nav-links ul {
    display: none;
  }
}

/* Large Mobile Device*/
@media (min-width: 601px) and (max-width: 768px) {
  .nav-links ul {
    display: none;
  }
}

/* Tablet Device*/
@media (min-width: 769px) and (max-width: 992px) {
  #nav-menu {
    display: none;
  }
}
/* Laptop Device*/
@media (min-width: 993px) and (max-width: 1024px) {
  #nav-menu {
    display: none;
  }
}

/* Desktop Device*/
@media (min-width: 1025px) {
  #nav-menu {
    display: none;
  }
}
